// Colors customization for Glean app
//----------
$blue-green: #00c2db;
$positive: #42d2cd !default;	//Overrides ionic positive blue color
$success-green: #00DC7E;

$dark-gray: #848485;
$light-gray: #6d6d6d;
$white: #ffffff;