
.menu-positive {
	background-color: $positive;
	color: #fff;
	@include padding($top: 8.5em);
	text-transform: uppercase;

	a {

  			background-color: transparent;
			border: none;
			font-size: 1.25em;
			text-align: center;
			color: #fff;

			i {
				float: left;
				color: $dark-gray;
				font-size: 1.3em;
			}

			span {
				margin-left: 12px;
			}
			
  		}

  .item.active,
  .item.activated,
  .item-complex.active .item-content,
  .item-complex.activated .item-content, 
  .item .item-content.active, 
  .item .item-content.activated {
  		border: none;

  		a {
  				background-color: transparent;
				border: none;
				font-size: 1.25em;
				text-align: center;
				color: #fff;

				i {
					float: left;
					color: $dark-gray;
				}

  		}
  }

  .item,
  .item-complex .item-content, 
  .item-radio .item-content {
  	background-color: $positive;
	color: #fff;
	border: none;	
	padding: 0.6em;	
  }
}