body {
	font-family: Quicksand;
}

.view-title {
	@include margin($left: 20px);
	font-size: 1.5em;
}

.center {
	 @include center;
}

.left {
	float: left;
}

//Login Page
.logo {
	background-image: url('../../images/logo.jpg');
	background-repeat: no-repeat;
	background-size: 147px;
	height: 100px;
	//margin-left: 21px;
	@include margin($left: 21px);
}

.brand-text {
	color: $blue-green;
	text-align: center;
	font-size: 1.5rem;
	@include margin($top:10px);
}

.brand-subtext {
	color: $dark-gray;
	text-align: center;
	font-size: 1.4rem;
	@include margin($top: 10px);
}

.vcentered {
	position: absolute;
	left: 53%;
	width: 200px;
	@include margin($top:150px, $left: -94px)
}

//Progress Page

.progress-container {
	width: 150px;
	@include margin($top: 30px);
	@include center;
}

.progress-text {
	@include center;
	@include margin($top: 2em, $bottom: 2em);
	color: $light-gray;
	font-size: 1.5em;
	span {
		color: $positive;
		font-size: 1.8em;
		vertical-align: sub;
	}
}

//Text exercise page

.exercise-content {
	color: $light-gray;
	font-size: 1em;
	text-align: justify;
	border: 0.5px solid $light-gray;
	border-radius: 10px;
	padding: 1rem;
	@include margin($left: 0.5rem, $right:0.5rem);
}

.exercise-title {
	color: $dark-gray;
	font-size: 1.2em;
	text-align: center;
	@include padding($top: 1em, $bottom: 1em);
}


