@import "_colors";
@import "_mixins";
@import "_fonts";
@import "../bower_components/orbicular/_orbicular.scss";
@import "../bower_components/ionic/scss/ionic";

@import "_views";
@import "_buttons";
@import "_menu";

@include orbicular(
    $barColor:  #F37400,    // The completed progress color
    $barBg:     #EAF0F1,       // The remaining progress color
    $barWidth:  12,          // The bar width is defined as a percentage of the width of the circle
    $contentBg: #30485F,    // The circle center
    $fontSize:  15,          // Content font-size as a percentage of the circle size
    $fontColor: #FFF,       // Content text color
    $transTime: 1s,       // Time to animate the movement
    $transFunc: linear     // transition timing
);


