<ion-side-menus>
	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
        </ion-nav-bar>
         <ion-nav-view name="menuContent" >
        </ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
		<header class="bar bar-header bar-dark">
        </header>
        <div class="bar bar-subheader bar-dark">
            <h1 class="title menu title-right">Menu</h1>
        </div>
        <ion-content class="has-subheader menu-dark-bg" scroll="false">

            <ion-list class="main-navigation">
                <ion-item nav-clear menu-close ui-sref="app.home">
                    <span>Home</span>
                </ion-item>
              	<ion-item nav-clear menu-close>
          			Profile
                </ion-item>
                <ion-item nav-clear menu-close>
                    <span>Members</span>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <span>Code of Conduct</span>
                </ion-item>
                <ion-item nav-clear href="#" ng-click="logout()">
                    <span>Log Out</span>
                </ion-item>
            </ion-list>
        </ion-content>
	</ion-side-menu>
</ion-side-menus>