<ion-side-menus>
	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-positive">
    		<ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
            </ion-nav-buttons>
             <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
         <ion-nav-view name="menuContent" >
        </ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
        <ion-pane class="menu-positive" scroll="false">

            <ion-list class="main-navigation">
                <ion-item nav-clear menu-close ui-sref="app.progress">
                    <i class="ion-home"></i><span> Home</span>
                </ion-item>
              	<ion-item nav-clear menu-close href="#">
          			<i class="ion-edit"></i><span> Today's exercise</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#">
                    <i class="ion-ios-information"></i><span> About GLEAN ™</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#" ng-click="logout()">
                    <i class="ion-log-out"></i><span> Log Out</span>
                </ion-item>
            </ion-list>
        </ion-pane>
	</ion-side-menu>
</ion-side-menus>