<ion-view>
  <ion-nav-title>
  	<span class="view-title">GLEAN ™</span>
  </ion-nav-title>
  <ion-content>
  <div class="progress-text">Your Progress</div>
  <div class="progress-container">
  	  <orbicular total="100" progression="userProgress" resize>
        {{userProgress}}%
    </orbicular>

  </div>
  <div class="progress-text"><span>{{doneCount}}</span> done</div>
  <div class="progress-text"><span>{{pendingCount}}</span> to go!</div>

  <div class="button button-positive glean-button" ng-show="pending === true" ng-click="goToNextExercise()">
      Begin next exercise 
      <i class="ion-ios-arrow-thin-right"></i>
  </div>
  
  <div class="button success-button" ng-show="pending === false">
    <i class="ion-ios-checkmark left"></i>
      All Caught Up!
  </div>
  </ion-content>
</ion-view>